body {
	background-color: black;
	display: flex;
	justify-content: center;
	height: 100vh;
	margin: 0;
	padding: 0;
}

#board td {
	background-color: indigo;
	border: 1px solid black;
	width: 200px;
	height: 145px;
}

.cell {
	text-align: center;
	font-family: Impact;
	font-size: 4.5rem;
	color: darkorange;
}

.topmostcell {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2rem;
	color: white;
}

.zoom-in {
	background-color: #000;

	color: white;
	position: absolute;
	animation-name: zoomin;
	animation-duration: 2s;
}

@keyframes zoomin {
	from {
		width: 0;
		height: 0;
	}
	to {
		width: 100vw;
		height: 100vh;
	}
}
